* {
    margin: 10px;
    padding: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.happy {
    background-image: url(../public/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
    fill: 070211;
}

.new-title {
    font-size: 25px;
    margin-bottom: 4px;
    width: 259px;
    height: 40px;
}

.new-subtitle {
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: black;
    width: 632px;
    line-height: 95px;
}

.new year offer {
    margin: 40px 0;
}

.percent {
    color: red;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    align-items: center;
}

.special-offer {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FF0000;
}

.categories {
    font-size: 30px;
    font-weight: bold;
}

.img {
    width: 802.9px;
    height: 500px;
}

.last-night {
    background-image: url(../public/Vectorrr.png);
    background-repeat: no-repeat;
    font-weight: black;
    width: 1320px;
    height: 610px;
}

.take-title {
    text-align: left;
    color: #FFFFFF;
    font-size: 60px;

}

.take-subtitle {
    text-align: left;
    color: #FFFFFF;
    gap: 30px;
}

.delight {
    text-align: left;
    color: #FFFFFF;
    font-size: 25px;
}

.deta {
    background-color: antiquewhite;
    width: 1300px;
    height: 400px;
    text-align: center;
    padding: 20px;
    background-size: cover;
}

.place-title {
    color: #FF0000;
    font-weight: bold;
}

.area {
    color: black;

}

.night-title {
    color: #FF0000;
    font-weight: bold;
}

.night {
    color: black;
}

.time-title {
    color: #FF0000;
    font-weight: bold;
}

.even {
    color: black;
}

.btn {
    color: #FFFFFF;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    background-color: #FF0000;
    font-size: 20px;
    list-style: none;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 225, 220);
    width: 1280px;
    height: 380px;
}

.excellent-title {
    align-items: center;

}

.off-title {
    color: #FF0000;
    font-size: small;
}

.main {
    text-align: left bottom;
    font-size: 40px;
    font-weight: bold;

}

.report {
    color: #8f8c94;
}

.img-section {
    justify-content: center;
    align-items: center;
}

.year {
    color: #FF0000;

}

.year-date {
    font-size: 20px;
}

.year-description {
    color: #8f8c94;

}

.content {
    background-repeat: no-repeat;
}

.text-title {
    color: black;
}

.content h1 {
    font-size: 40px;
    color: #FF0000;
}

.rafi {
    text-align: left;
}

.desh {
    background-color: antiquewhite;
}